<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Meetech</title>
    <link rel="icon" type="image/png" href="../assets/images/logo.png">
    <link rel="stylesheet" href="../assets/icons/css/font-awesome.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One&amp;subset=cyrillic,latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="../css/info-page.css">
  </head>
<!-- Enlaces -->
  <body>
    <div class="container-fluid col-sm-12 col-lg-12">
      <!-- Logo inicio -->
              <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                      <img class="brand"alt="Brand" src="../assets/images/logo.png">
                    </a>
                  </div>
                  <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                      <button type="submit" class="btn btn-default">Submit</button>
                    </div>

                  </form>
                </div>
              </nav>
      <!-- Carruseles -->
      <div class="carousels row">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                            <ol class="carousel-indicators">
                              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
            
                  <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                              <div class="item active">
                                <img src="../assets/images/events/bitcoin.jpg" class="image-responsive" alt="Bitcoin">
                              </div>
                              <div class="item">
                                <img src="../assets/images/events/distill.jpg" class="image-responsive center block" alt="Dsitill">
                              </div>
                              <div class="item">
                                <img src="../assets/images/events/forloop.jpg" class="image-responsive center block" alt="Forloop">
                              </div>
                            </div>
            
                  <!-- Controls -->
                           <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                           </a>
                           <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                           </a>
                  </div>
      </div>
      <hr align="left">
      <div class="carousels row">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                            <ol class="carousel-indicators">
                              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
            
                  <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                              <div class="item active">
                                <img src="../assets/images/events/friss.jpg" class="image-responsive" alt="Friss">
                              </div>
                              <div class="item">
                                <img src="../assets/images/events/groove.jpg" class="image-responsive center block" alt="Groove">
                              </div>
                              <div class="item">
                                <img src="../assets/images/events/minimal.jpg" class="image-responsive center block" alt="Minimal">
                              </div>
                            </div>
            
                  <!-- Controls -->
                           <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                           </a>
                           <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                           </a>
                  </div>
      </div>
      <hr align="left">
      <div class="carousels row">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                            <ol class="carousel-indicators">
                              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
            
                  <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                              <div class="item active">
                                <img src="../assets/images/events/slam.jpg" class="image-responsive" alt="Slam">
                              </div>
                              <div class="item">
                                <img src="../assets/images/events/tech-this-out.jpg" class="image-responsive center block" alt="Tech this out">
                              </div>
                              <div class="item">
                                <img src="../assets/images/events/womens-tech.jpg" class="image-responsive center block" alt="Womens Tech">
                              </div>
                            </div>
            
                  <!-- Controls -->
                           <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                           </a>
                           <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                           </a>
                  </div>
      </div>
      <br>
      <div class="row">
          <div class="col-sm-6 col-lg-4 col-lg-push-1">
              <img src="../assets/images/ux.png" alt="network">
              <div class="caption">
                <h3>UX Mexico</h3>
                <p>Nuestros eventos consisten principalmente de Meetups con temáticas variadas del mundo del Hardware y el Software. A pesar de que la filosofia de NodeBotsMX se basa en programar sistemas embebidos con Javascript, hemos logrado trascender y abarcar temas que involucran  desarrollo de proyectos, pláticas y talleres con Ruby, Python, Assembly, programas de diseño de CAD para electrónica (Kicad, Eagle, Altium, Inteligencia artificial, entre otros. </p>
                <p><a href="#" class="btn btn-primary btn-card" role="button">Like</a>
              </div>
          </div>
        </div>
    </div>     
=======
      <!-- Nav -->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <img class="brand"alt="Brand" src="../assets/images/logo.png">
              </a>
            </div>
          </div>
        </nav>
    </div>
<!-- Más informacion del evento -->
    <div class="row">
      <div class="col-sm-6 col-lg-4 col-lg-push-1">
          <img src="../assets/images/ux.png" alt="network">
          <div class="caption">
            <h3>UX Mexico</h3>
            <p>Nuestros eventos consisten principalmente de Meetups con temáticas variadas del mundo del Hardware y el Software. A pesar de que la filosofia de NodeBotsMX se basa en programar sistemas embebidos con Javascript, hemos logrado trascender y abarcar temas que involucran  desarrollo de proyectos, pláticas y talleres con Ruby, Python, Assembly, programas de diseño de CAD para electrónica (Kicad, Eagle, Altium, Inteligencia artificial, entre otros. </p>
            <p><a href="#" class="btn btn-primary btn-add" role="button">Like</a>
          </div>
        </div>
          <div class="col-sm-6 col-lg-6 col-lg-push-2">
            <div class="input-container">
              <div class="input-group">
                <span class="input-group-btn">
                  <button id="comments" type="submit" class="btn btn-default" disabled="disabled">Add!</button>
                </span>
                <input id="write"type="text" class="form-control" placeholder="Write a comment...">
              </div><!-- /input-group -->
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-lg-push-2">
              <section id="comments-container" class="container-comments">
              </section>
            </div>
          </div>
    </div>
<!-- Agregar un comentario -->




  <!-- Enlaces -->
    <script src="../js/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/comments.js"></script>
  </body>
</html>
