<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Meetech</title>
    <link rel="stylesheet" href="../assets/icons/css/font-awesome.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One&amp;subset=cyrillic,latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
  </head>
<!-- Enlaces -->
  <body>
<!-- Logo inicio -->

    <div class="row">
      <div class="col-sm-8 col-lg-12 col-lg-push-1">
        <a href="../views/view2.html"><i class="fa fa-arrow-left return" aria-hidden="true"></i></a>      
      </div>
      <div class="col-sm-8 col-sm-push-4 col-lg-8 col-lg-push-5">
        <h1>Regístrate</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-push-2 col-lg-8 col-lg-push-2">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">Name</span>
          <input type="text" class="form-control" aria-describedby="basic-addon3">
          <span class="input-group-addon" id="basic-addon1">Last Name</span>            <input type="text" class="form-control" aria-describedby="basic-addon2">
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-8 col-sm-push-2 col-lg-8 col-lg-push-2">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">e-mail</span>
          <input type="text" class="form-control" aria-describedby="basic-addon3">
          <span class="input-group-addon" id="basic-addon3">@example.com</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-push-2 col-lg-8 col-lg-push-2">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon4">Username</span>
          <input type="text" class="form-control" aria-describedby="basic-addon3">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-push-2 col-lg-8 col-lg-push-2">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon5">Password</span>
          <input type="text" class="form-control" aria-describedby="basic-addon3">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-sm-push-5 col-lg-2 col-lg-push-6">
        <a href="view4.html"><button type="button" class="btn btn-default btn-prpl">Listo</button></a>
      </div>
    </div>










<!-- Enlaces -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/splash.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
  </body>
</html>
